@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Inspiration&family=Kaisei+Opti:wght@700&display=swap');
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Inspiration', cursive;
font-size:xx-large;


}

body{
    overflow:auto;
    min-height: 200vh;
    background: url(./Res4.jpg)  ;
    background-size:cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 90%;
    
}

header{
    position: fixed;
    background-color: antiquewhite;
    top:0;
    left: 0;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header.sticky{
    padding: 5px 100px;
    background:whitesmoke ;

}

header.logo{
    position: relative;
    font-size:xx-large;
    font-weight:bolder;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
    
}


header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;

}

.banner{
    position: relative;
    width: 100%;
    height:100vh ;
    background-size:contain;
}
header.sticky.logo,
header.sticky ul li a
 {
    color:#000
}

.navbar{
    overflow: hidden;
    background-color: antiquewhite;
    position: fixed;
    bottom: 0;
    width: 100%;
     height: 10%; 
}

.navbar a{
    display: block;
    color:#f2f2f2;
    padding: 5px 50px;
    text-decoration: none;
  
}



.Resturant{
    float: left;
    color: black;
    text-align:center;
    padding: 5px -50px;
    font-size: 45px;
    font-weight: bolder;
    margin-left: 20px;
    position:fixed; bottom: 0px; right: 1200px;
}

 .img1{
    width: 4.5%;
    position:fixed; bottom: 0px; right: 900px;
}
.img2{
    width: 4.5%;
    position:fixed; bottom: 0px; right: 700px;
}
.img3{
    width: 4.5%;
    position:fixed; bottom: 0px; right: 500px;
}

.Form{
    
    margin-top: 25%;
    margin-left: 8%;
    color:black;
    width: 15%;
    font-weight: bolder;
    
    
}